@forward 'element-plus/theme-chalk/src/dark/var.scss' with (
  $colors: (
    'primary': (
      'base': #1677ff,
    ),
    'danger': (
      'base': #ff4d4f,
    ),
  )
);

@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;